<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Get the logging directory from the spring properties -->
<!--    <springProperty name="logs_dir" source="loggingPath" />-->

    <!--Appender pattern for both of our appenders-->
    <property name="appenderPattern" value="%d{yyyy-MM-dd'T'HH:mm:ss.SSSX,America/New_York}\t%level\t[%thread]\t[%logger]\t%msg%n" />

    <!--Console appender-->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${appenderPattern}</pattern>
        </encoder>
    </appender>

    <!--File appender-->
<!--    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">-->

<!--        <file>${logs_dir}/capstone.log</file>-->
<!--        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
<!--            &lt;!&ndash; daily rollover &ndash;&gt;-->
<!--            <fileNamePattern>${logs_dir}/capstone.log.%d{yyyy-MM-dd}</fileNamePattern>-->
<!--        </rollingPolicy>-->

<!--        <encoder>-->
<!--            <pattern>${appenderPattern}</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->

    <logger name="edu.psu.sweng894" level="TRACE"/>
    <logger name="org.springframework.web.servlet" level="ALL"/>

    <root level="WARN">
        <appender-ref ref="CONSOLE"/>
<!--        <appender-ref ref="FILE" />-->
    </root>
</configuration>
